<!-- SignUp Page -->
<!-- <app-sign-in *ngIf="!isUserLogged"></app-sign-in> -->
<app-navbar 
(onNavBarAction)="onNavBarAction($event)"></app-navbar>

<app-auth *ngIf="!isUserLoggedIn && !showSettingPage" (onUserLoggedIn)="isUserLoggedIn = $event"></app-auth>

<app-result-page *ngIf="isUserLoggedIn && !showSettingPage"></app-result-page>

<app-crm-setting *ngIf="showSettingPage" (onLogoutAction)="onLogout($event)"></app-crm-setting>

<app-loader *ngIf="showLoader"></app-loader>

<!-- <div *ngIf="isUserLogged"> -->
  <!-- Header Page -->
  <!-- <app-header (onPageRefreshEvent)="triggerPageRefreshEvent($event)"></app-header> -->

  <!-- Watch list -->
  <!-- <div *ngIf="parsedProfiles && parsedProfiles.type"> -->
    <!-- <app-watchlist (onSelectedWatchlist)="triggerWatchlistSelectionEvent($event)" [isCompany]="showCompanySystem"
      [isContact]="showContactSystem" (onInitSelectedWatchlist)="triggerInitWatchlistSelectionEvent($event)"></app-watchlist> -->

    <!-- Result Container -->
    <!-- <app-result-page *ngIf="selectedWatchlist && selectedWatchlist.id"
      [parsedProfiles]="parsedProfiles.data" [selectedWatchlist]="selectedWatchlist" [profileType]="parsedProfiles.type"
      [isContact]="showContactSystem" [isCompany]="showCompanySystem">
    </app-result-page> -->
  <!-- </div> -->

  <!-- Loader -->
  <!-- <div *ngIf="!parsedProfiles">
    <div class="text-center">
      <p-progressSpinner></p-progressSpinner>
    </div>
  </div> -->

  <!-- Error Page -->
  <!-- <div *ngIf="showErrorPage" class="error-page">
    <p>This page is currently not supported.</p>
    <p-divider></p-divider>
    <p>
      Please visit a Company or Contact Profile Page or Advanced Search Results on a supported website.
      If you are experiencing this issue on a supported website, please contact
      <a href="mailto:support@dealsignal.com">support&#64;dealsignal.com</a>
    </p>
  </div> -->

  <!-- Put in to the Footer -->
  <!-- <div class="popup-footer">
    <button type="button" class="btn btn-cancel" (click)="logOut()">Logout</button>
  </div>
</div> -->