/* You can add global styles to this file, and also import other style files */
/* New webfonts */

// @font-face {
//   font-family: 'AvenirLT-Roman';
//   src: url('./assets/fonts/3087EC_1_0.eot');
//   src: url('./assets/fonts/3087EC_1_0.eot?#iefix') format('embedded-opentype'),
//   url('./assets/fonts/3087EC_1_0.woff2') format('woff2'),
//   url('./assets/fonts/3087EC_1_0.woff') format('woff'),
//   url('./assets/fonts/3087EC_1_0.ttf') format('truetype');
// }

/*  */

// * {
//   font-family: "Montserrat";
// }


@font-face {
  font-family: 'DealSignal';
  src: url('./fonts/DealSignal.eot?38xzgy');
  src: url('./fonts/DealSignal.eot?38xzgy#iefix') format('embedded-opentype'),
  url('./fonts/DealSignal.ttf?38xzgy') format('truetype'),
  url('./fonts/DealSignal.woff?38xzgy') format('woff'),
  url('./fonts/DealSignal.svg?38xzgy#DealSignal') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'DealSignal' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'DealSignal' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-external-link-symbol:before {
  content: "\e900";
}
.icon-gear:before {
  content: "\e901";
}
.icon-search:before {
  content: "\e902";
}
.icon-dealsignal:before {
  content: "\e903";
}
.icon-mail:before {
  content: "\e904";
}
.icon-phone:before {
  content: "\e905";
}
.icon-list:before {
  content: "\e906";
}
.icon-lock:before {
  content: "\e907";
}
.icon-user:before {
  content: "\e908";
}
.icon-close:before {
  content: "\e909";
}
.icon-check:before {
  content: "\e90a";
}
.icon-dashboard:before {
  content: "\e90b";
}
.icon-companies:before {
  content: "\e90c";
}
.icon-people:before {
  content: "\e90d";
}
.icon-leads:before {
  content: "\e90e";
}
.icon-deals:before {
  content: "\e90f";
}
.icon-cloud-plus:before {
  content: "\e910";
}
.icon-cloud-check:before {
  content: "\e911";
}
.icon-plus-circle:before {
  content: "\e912";
}
.icon-close-circle:before {
  content: "\e913";
}
.icon-edit-circle:before {
  content: "\e914";
}
.icon-check-circle:before {
  content: "\e915";
}
.icon-question-circle:before {
  content: "\e916";
}
.icon-plus:before {
  content: "\e917";
}
.icon-close-round:before {
  content: "\e918";
}
.icon-check-round:before {
  content: "\e919";
}
.icon-error:before {
  content: "\e91a";
}
.icon-angle-down-round:before {
  content: "\e91b";
}
.icon-angle-up-round:before {
  content: "\e91c";
}
.icon-angle-right-round:before {
  content: "\e91d";
}
.icon-angle-left-round:before {
  content: "\e91e";
}
.icon-linkedin:before {
  content: "\e91f";
}
.icon-sliders:before {
  content: "\e920";
}
.icon-dots-three-vertical:before {
  content: "\e921";
}
.icon-arrow-down:before {
  content: "\e922";
}
.icon-arrow-up:before {
  content: "\e923";
}
.icon-square-check:before {
  content: "\e924";
}
.icon-square-play:before {
  content: "\e925";
}
.icon-earth:before {
  content: "\e926";
}
.icon-twitter:before {
  content: "\e927";
}
.icon-facebook:before {
  content: "\e928";
}
.icon-cb:before {
  content: "\e929";
}
.icon-angellist:before {
  content: "\e92a";
}
.icon-apple:before {
  content: "\e92b";
}
.icon-youtube-play:before {
  content: "\e92c";
}
.icon-youtube:before {
  content: "\e92d";
}
.icon-list-ul:before {
  content: "\e92e";
}
.icon-telephone:before {
  content: "\e92f";
}
.icon-mail-f:before {
  content: "\e930";
}
.icon-share:before {
  content: "\e931";
}
.icon-google_play:before {
  content: "\e932";
}
.icon-company-search:before {
  content: "\e933";
}
.icon-contact-search:before {
  content: "\e934";
}
.icon-lead-gears:before {
  content: "\e935";
}
.icon-crown:before {
  content: "\e936";
}
.icon-star:before {
  content: "\e937";
}
.icon-group:before {
  content: "\e938";
}
.icon-copy:before {
  content: "\e939";
}
.icon-pencil:before {
  content: "\e93a";
}
.icon-eye:before {
  content: "\e93b";
}
.icon-power:before {
  content: "\e93c";
}
.icon-info:before {
  content: "\e93d";
}
.icon-companies-power:before {
  content: "\e93e";
}
.icon-leads-circle:before {
  content: "\e93f";
}
.icon-download:before {
  content: "\e940";
}
.icon-power-o:before {
  content: "\e941";
}
.icon-save-page:before {
  content: "\e942";
}
.icon-lock-r:before {
  content: "\e943";
}
.icon-cloud-refresh-sync:before {
  content: "\e944";
}
.icon-cloud-gears:before {
  content: "\e945";
}
.icon-cloud-download:before {
  content: "\e946";
}
.icon-cloud-alert:before {
  content: "\e947";
}
.icon-calendar-download:before {
  content: "\e948";
}
.icon-cloud-add:before {
  content: "\e949";
}
.icon-cloud-done:before {
  content: "\e94a";
}
.icon-company-gears:before {
  content: "\e94b";
}
.icon-cloud-company-sync:before {
  content: "\e94c";
}
.icon-cloud-minus:before {
  content: "\e94d";
}
.icon-cloud-done-f:before {
  content: "\e94e";
}
.icon-angle-left:before {
  content: "\f104";
}
.icon-angle-right:before {
  content: "\f105";
}
.icon-angle-up:before {
  content: "\f106";
}
.icon-angle-down:before {
  content: "\f107";
}

// New Icons

@font-face {
  font-family: 'ds-ce';
  src:
    url('./fonts/ds-ce.ttf?y176a8') format('truetype'),
    url('./fonts/ds-ce.woff?y176a8') format('woff'),
    url('./fonts/ds-ce.svg?y176a8#ds-ce') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="ce-"], [class*=" ce-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ds-ce' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ce-cloud-verified:before {
  content: "\e913";
}
.ce-cloud-alert:before {
  content: "\e914";
}
.ce-cloud-gears:before {
  content: "\e915";
}
.ce-question-ic:before {
  content: "\e912";
}
.ce-caret-ic:before {
  content: "\e900";
}
.ce-logout-ic:before {
  content: "\e911";
}
.ce-copy-ic:before {
  content: "\e90d";
}
.ce-saved-ic:before {
  content: "\e90e";
}
.ce-save-ic:before {
  content: "\e90f";
}
.ce-cross-ic:before {
  content: "\e901";
}
.ce-update-ic:before {
  content: "\e902";
}
.ce-verify-ic:before {
  content: "\e903";
}
.ce-p-email-ic:before {
  content: "\e904";
}
.ce-ex-link-ic:before {
  content: "\e905";
}
.ce-refresh-ic:before {
  content: "\e906";
}
.ce-setting-ic:before {
  content: "\e907";
}
.ce-tutorial-ic:before {
  content: "\e908";
}
.ce-mobile-ic:before {
  content: "\e909";
}
.ce-c-email-ic:before {
  content: "\e90a";
}
.ce-p-phone-ic:before {
  content: "\e90b";
}
.ce-c-phone-ic:before {
  content: "\e90c";
}
.ce-plus-ic:before {
  content: "\e910";
}

.icon-cloud-plus {
 font-size: 1.5em !important;
}