<div class="header-section">
  <div class="main-nav clearfix">
    <div class="version-info float-start">
      <div class="extension-logo-wrap">
        <img src="../../../../../assets/ds_logo.svg">
      </div>
    </div>
    <ul class="pull-right">
      <li (click)="onDoRefresh()">
        <a>
          <i class="ce-refresh-ic"></i> <span>Refresh</span>
        </a>
      </li>
      <li>
        <a>
          <i class="ce-tutorial-ic"></i> <span>Tutorials</span>
        </a>
      </li>
      <li>
        <a>
          <i class="ce-update-ic"></i> <span>Update</span>
        </a>
      </li>
      <li>
        <a>
          <i class="ce-setting-ic"></i> <span>Setting</span>
        </a>
      </li>
    </ul>
  </div>
</div>